# **Fitching Data using Web Scraping**

## Scrapping Data From [scrapethissite.com]('scrapethissite.com) using BeautifulSoup

In [1]:
# necessary lbraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [13]:
# setting headers to mimic a real browser visit
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:122.0) Gecko/20100101 Firefox/122.0",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept-Encoding": "gzip, deflate",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
    "Connection": "keep-alive",
    "Upgrade-Insecure-Requests": "1",
    "Referer": "https://www.google.com/",
}

url = "https://www.scrapethissite.com/pages/simple/" # -> target URL

response = requests.get(url, headers=headers) # -> GET request
webpage = response.text   # -> webpage content

In [15]:
s = BeautifulSoup(webpage, 'html.parser') # -> parsing the webpage

In [16]:
country = s.find_all('div', class_='col-md-4 country') # -> finding all country divs

In [18]:
# lists to hold the data
name = []
capital = []
population = []
area = []

# extracting data from each country div
for i in country:
  name.append(i.find('h3').text.strip())
  capital.append(i.find_all('span', class_='country-capital')[0].text)
  population.append(i.find('span', class_='country-population').text)
  area.append(i.find('span', class_='country-area').text)

data = {"name" : name,
        "capital" : capital,
        "population" : population,
        "area" : area}

df = pd.DataFrame(data) # -> creating a DataFrame

In [19]:
df.shape

(250, 4)

In [20]:
df.head()

                   name           capital population      area
0               Andorra  Andorra la Vella      84000     468.0
1  United Arab Emirates         Abu Dhabi    4975593   82880.0
2           Afghanistan             Kabul   29121286  647500.0
3   Antigua and Barbuda        St. John's      86754     443.0
4              Anguilla        The Valley      13254     102.0

In [24]:
df.to_csv("countries.csv", index=False) # -> exporting to CSV file