# Pandas ydata Profiling

Pandas Profiling is a powerful Python library that generates comprehensive reports from a pandas DataFrame. It provides an easy way to perform exploratory data analysis (EDA) by summarizing the dataset's structure, statistics, and visualizations in a single HTML report.

In [ ]:
!pip install ydata-profiling

In [ ]:
import pandas as pd
import ydata_profiling as yd

In [9]:
df = pd.read_csv('../day_016/train.csv')

In [10]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [12]:
# creating ydata_profile report
profile = yd.ProfileReport(df)
profile.to_file(output_file='ydata_titanic_report')

100%|██████████| 12/12 [00:00<00:00, 14.43it/s]1<00:00,  7.26it/s, Describe variable: Embarked]
Summarize dataset: 100%|██████████| 47/47 [00:24<00:00,  1.91it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:29<00:00, 29.61s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.56s/it]
c:\Users\HP\anaconda3\envs\Learning\lib\site-packages\ydata_profiling\profile_report.py:386: UserWarning: Extension  not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 11.73it/s]